<div style="border: 1px solid rgb(230, 227, 227);padding: 5px;">
    <h6 style="margin: 2px;">Template</h6>
    <router-outlet></router-outlet>
</div>
<br><br>
<h6 style="margin: 2px;">First Branch Routes</h6>
<button type="button" routerLink="/child">Go to Child</button>
<button type="button" routerLink="/child/grand-child/">Go to Grand Child</button>
<button type="button" routerLink="/child/grand-child/great-grand-child">Go to Great Grand Child</button>
<button type="button" routerLink="/child/grand-child/great-grand-child/great-great-grand-child">Go to Great Great Grand Child</button>
<br><br>
<h6 style="margin: 2px;">Second Branch Routes</h6>
<button type="button" routerLink="/child-two">Go to Second Child</button>
<button type="button" routerLink="/child-two/grand-child-two">Go to Second Grand Child</button>
<button type="button" routerLink="/child-two/grand-child-two/great-grand-child-two">Go to Second Great Grand Child</button>


